.App {
  background-color: #282c34;
  min-height: 100vh;
}

h1 {
  margin: 0;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.palette {
  display: flex;
  width: 100%;
  height: calc(100vh - 150px);
}

.color {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 30px;
  padding-bottom: 120px;
  margin: 0;
}

.tagContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.generateBtn {
  position: absolute;
  bottom: 30px;
  left: 30px;
  right: 30px;
  border: none;
  outline: none;
  background: #fff;
  font-size: 24px;
  padding: 15px 30px;
  font-weight: 700;
  border-radius: 25px;
  cursor: pointer;
  transition-property: background, color;
  transition-duration: .3s;
}

.generateBtn:hover {
  background: black;
  color: #fff;
}

.actionButton {
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  width: 55px;
  height: 55px;
  background: rgba(0, 0, 0, 0.2);
  color: white;
  border-radius: 12.5px;
  font-weight: 700;
  transition-property: background;
  transition-duration: .3s;
}

.actionButton:hover {
  background: rgba(0, 0, 0, 0.5);
}

.color:hover > .colorActionBar {
  opacity: 1;
}

.actionIcon {
  height: 30px;
  fill: currentcolor;
}

.colorActionBar {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 15px;
  border-radius: 25px;
  display: grid;
  grid-template-columns: repeat(2, 55px);
  grid-template-rows: repeat(3, 55px);
  gap: 15px;
  opacity: 0;
  transition-property: opacity;
  transition-duration: .3s;
}

.copyButton {
  grid-column-end: span 2;
  width: 100%;
}

.hashIcon {
  width: 91px;
  opacity: 0.5;
}

.hashBlack {
  color: black;
}

.hashWhite {
  color: white;
}