.App {
  background-color: #282c34;
  min-height: 100vh;
}

h1 {
  margin: 0;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.palette {
  display: flex;
  width: 100%;
  height: calc(100vh - 60px);
}

.color {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 30px;
  margin: 0;
}

.generateBtn {
  position: absolute;
  bottom: 30px;
  left: 30px;
  right: 30px;
  border: none;
  outline: none;
  background: #fff;
  font-size: 24px;
  padding: 15px 30px;
  font-weight: 700;
  border-radius: 25px;
  cursor: pointer;
  transition-property: background, color;
  transition-duration: .3s;
}

.generateBtn:hover {
  background: black;
  color: #fff;
}

.copyButton {
  border: none;
  outline: none;
  display: none;
  padding: 15px;
  background: white;
  color: black;
  border-radius: 25px;
  font-weight: 700;
  opacity: 0;
  transition-property: background, color, opacity;
  transition-duration: .3s;
}

.copyButton:hover {
  background: black;
  color: white;
}

.color:hover > .copyButton {
  display: flex;
  position: absolute;
  bottom: 40%;
  opacity: 1;
}